.description-text {
	padding-top: 0.5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
}

.sections-text {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 33px;
	color: #f55e18;
}

.footer-title-text {
	padding-top: 0.5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
}

.footer-text {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
}

.footer-nav-text {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
}