.create-playlist-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 80%;
	margin-top: 4%;
	margin-bottom: 7%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	background-color: #f0f5f0;
	border-radius: 15px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.div-create-playlist {
	height: auto;
	width: 100%;
}

.div-create-playlist-info {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 270px 750px;
	grid-template-rows: 120px 150px;
	grid-template-areas: "img" "help-text-playlist-name"
						 "img" "input-playlist-name";
	justify-content: start;
	width: 100%;
	height: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

.div-create-playlist-img {
	position: relative;
	overflow: hidden;
	margin: 10px;
	height: 230px;
	width: 230px;
	list-style-type: none;
	border-radius: 30%;
	border: 10px solid #3b193d;
	box-shadow: 0 8px 8px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

.add-playlist-image {
	max-height: 100%;
	max-width: 100%;
}

.help-text-playlist-name {
	grid-column-start: 2;
	grid-row-start: 1;
	margin-top: 11%;
	padding-left: 0.5%;
	margin-bottom: auto;
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
}

.input-playlist-name {
	grid-column-start: 2;
	grid-row-start: 2;
	margin-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 21px;
  font-family: 'Varela Round', sans-serif;
	margin-bottom: 10%;
	border: 3px solid #3b193d;
	border-radius: 15px;
	outline: none;
	transition: 0.4s;
	width: 500px;
	height: auto;
}

.input-playlist-name:hover {
	box-shadow: 0 1px 30px rgba(0,0,0,0.25), 0 1px 30px rgba(0,0,0,0.22);
}

.input-playlist-name:focus {
	border: 3px solid #f55e18;
	box-shadow: 0 1px 30px rgba(0,0,0,0.25), 0 1px 30px rgba(0,0,0,0.22);
}

.help-text-search-music,
.help-text-added-music {
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
}

.input-search-song {
	width: 98%;
	font-size: 18px;
	font-family: 'Varela Round', sans-serif;
	padding: 0.5%;
	margin-top: 1%;
	margin-bottom: 1%;
	border: 3px solid #3b193d;
	border-radius: 10px;
	outline: none;
	transition: 0.4s;
}

.input-search-song:hover {
	box-shadow: 0 1px 30px rgba(0,0,0,0.25), 0 1px 30px rgba(0,0,0,0.22);
}

.input-search-song:focus {
	border: 3px solid #f55e18;
	box-shadow: 0 1px 30px rgba(0,0,0,0.25), 0 1px 30px rgba(0,0,0,0.22);
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.div-song-list-create-playlist {
	/*Список песен в виде плееров*/
	height: auto;
	width: 98%;
	margin-top: 1%;
	margin-bottom: 1%;
	list-style-type: none;
	border-radius: 10px;
	border: 10px solid #3b193d;
	background-color: #FF573D;
	box-shadow: 0 8px 8px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

.ul-audio-list-create-playlist {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	list-style-type: none;
}

.li-audio-list-create-playlist {
	display: flex;
	justify-content: space-between;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #3b193d;
	padding: 3px;
}

.div-play-audio-image-create-playlist {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 25px;
}

.play-audio-image-create-playlist {
	width: 50px;
	height: 50px;
}

.div-audio-name-create-playlist {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
	width: 88%;
}

.div-added-audio-name-current-playlist {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
	width: 80%;
}

.audio-name-create-playlist {
	display: block;
	text-align: center;
	margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
	font-family: 'Varela Round', sans-serif;
	font-size: 19px;
	color: #faf7f8;
	white-space: nowrap;
}

.div-delete-audio-image-create-playlist {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 25px;
}

.delete-audio-image-create-playlist {
	width: 50px;
	height: 50px;
}

.help-text-added-music,
.help-text-search-music {
	font-family: 'Varela Round', sans-serif;
	font-size: 22px;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.btn-create-playlist {
	width: 98%;
	margin: 30px 10px;
	color: #FF5440;
  border-color: #FF5440;
  background: -webkit-linear-gradient(left, #FF5440, #FF5440) no-repeat;
  background: linear-gradient(to right, #FF5440, #FF5440) no-repeat;
  background-size: 0% 100%;
}

.btn-create-playlist:hover {
    background-size: 100% 100%;
    color: #27323A;
}


/*

@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@

*/

@media only screen and (max-width: 375px)
{
	.div-create-playlist-info {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 130px 160px;
		grid-template-rows: 60px 60px;
		grid-template-areas: "img" "help-text-playlist-name"
							 "img" "input-playlist-name";
		justify-content: start;
		width: 100%;
		height: auto;
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.div-create-playlist-img {
		position: relative;
		overflow: hidden;
		margin: 10px;
		height: 100px;
		width: 100px;
		list-style-type: none;
		border-radius: 30%;
		border: 3px solid #3b193d;
		box-shadow: 0 8px 8px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
	}

	.help-text-playlist-name {
		grid-column-start: 2;
		grid-row-start: 1;
		margin-top: 23%;
		margin-bottom: auto;
		font-family: 'Varela Round', sans-serif;
		font-size: 15px;
		white-space: nowrap;
	}

	.input-playlist-name {
		grid-column-start: 2;
		grid-row-start: 2;
		padding-left: 4%;
		padding-right: 1%;
		font-size: 10px;
	  font-family: 'Varela Round', sans-serif;
		margin-bottom: 15%;
		border: 2px solid #3b193d;
		border-radius: 12px;
		outline: none;
		transition: 0.4s;
		width: 145px;
		height: auto;
	}

	.help-text-search-music {
		grid-column-start: 2;
		grid-row-start: 1;
		margin-bottom: auto;
		margin-left: 2%;
		font-family: 'Varela Round', sans-serif;
		font-size: 15px;
	}

	.help-text-search-music,
	.help-text-added-music {
		margin-top: 3%;
		font-family: 'Varela Round', sans-serif;
		font-size: 13px;
		margin-left: 0;
	}

	.input-search-song {
		width: 97%;
		font-size: 12px;
		font-family: 'Varela Round', sans-serif;
		padding: 1%;
		margin-top: 1%;
		margin-bottom: 1%;
		border: 2.5px solid #3b193d;
		border-radius: 10px;
		outline: none;
		transition: 0.4s;
	}

	.div-song-list-create-playlist {
		/*Список песен в виде плееров*/
		height: auto;
		width: 96%;
		margin-top: 1%;
		list-style-type: none;
		border-radius: 10px;
		border: 6px solid #3b193d;
		box-shadow: 0 2px 10px rgba(0,0,0,0.25), 0 2px 10px rgba(0,0,0,0.22);
	}

	.li-audio-list-create-playlist {
		display: flex;
		justify-content: space-between;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #3b193d;
		padding: 3px;
	}

	.div-play-audio-image-create-playlist {
		width: 25px;
		height: 25px;
		overflow: hidden;
		border-radius: 25px;
	}

	.play-audio-image-create-playlist {
		width: 25px;
		height: 25px;
	}

	.div-audio-name-create-playlist {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 25px;
		width: 79%;
	}

	.div-added-audio-name-current-playlist {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 25px;
		width: 70%;
	}

	.audio-name-create-playlist {
		display: block;
		text-align: center;
		margin-left: auto;
	  margin-right: auto;
	  margin-top: auto;
	  margin-bottom: auto;
		font-family: 'Varela Round', sans-serif;
		font-size: 7px;
		color: #faf7f8;
		white-space: nowrap;
	}

	.div-delete-audio-image-create-playlist {
		width: 25px;
		height: 25px;
		overflow: hidden;
		border-radius: 25px;
	}

	.delete-audio-image-create-playlist {
		width: 25px;
		height: 25px;
	}

	.btn-create-playlist {
		width: 98%;
		margin: 20px 2px;
		color: #FF5440;
	  border-color: #FF5440;
	  background: -webkit-linear-gradient(left, #FF5440, #FF5440) no-repeat;
	  background: linear-gradient(to right, #FF5440, #FF5440) no-repeat;
	  background-size: 0% 100%;
	}
}

@media screen and (min-width: 640px) and (max-width: 650px)
{
	.div-create-playlist-info {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 255px 255px;
		grid-template-rows: 115px 135px;
		grid-template-areas: "img" "help-text-playlist-name"
							 "img" "input-playlist-name";
		justify-content: start;
		width: 100%;
		height: auto;
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.div-create-playlist-img {
		position: relative;
		overflow: hidden;
		margin: 10px;
		height: 220px;
		width: 220px;
		list-style-type: none;
		border-radius: 30%;
		border: 5px solid #3b193d;
		box-shadow: 0 8px 8px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
	}

	.help-text-playlist-name {
		grid-column-start: 2;
		grid-row-start: 1;
		margin-top: 32%;
		margin-bottom: auto;
		font-family: 'Varela Round', sans-serif;
		font-size: 24.5px;
		white-space: nowrap;
	}

	.input-playlist-name {
		grid-column-start: 2;
		grid-row-start: 2;
		padding-top: 0;
		padding-left: 3%;
		padding-right: 1%;
		font-size: 16px;
	  font-family: 'Varela Round', sans-serif;
		margin-bottom: 15%;
		border: 2px solid #3b193d;
		border-radius: 15px;
		outline: none;
		transition: 0.4s;
		width: 220px;
		height: 50px;
	}

	.help-text-search-music {
		grid-column-start: 2;
		grid-row-start: 1;
		margin-bottom: auto;
		margin-left: 2%;
		font-family: 'Varela Round', sans-serif;
		font-size: 25px;
	}

	.help-text-search-music,
	.help-text-added-music {
		margin-top: 1%;
		font-family: 'Varela Round', sans-serif;
		font-size: 20px;
		margin-left: 0;
	}

	.input-search-song {
		width: 97%;
		font-size: 15px;
		font-family: 'Varela Round', sans-serif;
		padding: 1%;
		margin-top: 1%;
		margin-bottom: 1%;
		border: 2.5px solid #3b193d;
		border-radius: 10px;
		outline: none;
		transition: 0.4s;
	}

	.div-song-list-create-playlist {
		/*Список песен в виде плееров*/
		height: auto;
		width: 96%;
		margin-top: 1%;
		list-style-type: none;
		border-radius: 10px;
		border: 9px solid #3b193d;
		background-color: #FF573D;
		box-shadow: 0 2px 10px rgba(0,0,0,0.25), 0 2px 10px rgba(0,0,0,0.22);
	}

	.li-audio-list-create-playlist {
		display: flex;
		justify-content: space-between;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #3b193d;
		padding: 3px;
	}

	.div-play-audio-image-create-playlist {
		width: 25px;
		height: 25px;
		overflow: hidden;
		border-radius: 25px;
	}

	.play-audio-image-create-playlist {
		width: 25px;
		height: 25px;
	}

	.div-audio-name-create-playlist {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 25px;
		width: 89%;
	}

	.div-added-audio-name-current-playlist {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 25px;
		width: 70%;
	}

	.audio-name-create-playlist {
		display: block;
		text-align: center;
		margin-left: auto;
	  margin-right: auto;
	  margin-top: auto;
	  margin-bottom: auto;
		font-family: 'Varela Round', sans-serif;
		font-size: 15px;
		color: #faf7f8;
		white-space: nowrap;
	}

	.div-delete-audio-image-create-playlist {
		width: 25px;
		height: 25px;
		overflow: hidden;
		border-radius: 25px;
	}

	.delete-audio-image-create-playlist {
		width: 25px;
		height: 25px;
	}

	.btn-create-playlist {
		width: 98%;
		margin: 20px 2px;
		color: #FF5440;
		border-color: #FF5440;
		background: -webkit-linear-gradient(left, #FF5440, #FF5440) no-repeat;
		background: linear-gradient(to right, #FF5440, #FF5440) no-repeat;
		background-size: 0% 100%;
	}
}
