main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 87.5vh;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: auto;
	background-color: #f0f5f0;
	border-radius: 15px;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

form input {
	font-size: 18px;
  	font-family: 'Varela Round', sans-serif;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 3px solid #3b193d;
	border-radius: 15px;
	outline: none;
	transition: 0.4s;
}

form input:hover {
	box-shadow: 0 1px 30px rgba(0,0,0,0.25), 0 1px 30px rgba(0,0,0,0.22);
}

form input:focus {
	border: 3px solid #f55e18;
	box-shadow: 0 1px 30px rgba(0,0,0,0.25), 0 1px 30px rgba(0,0,0,0.22);
}

.auth-text {
 	font-family: 'Lobster', cursive;
	font-size: 40px;
	color: #f55e18;
}

.div-flex-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 6%;
}

.div-help-auth-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 17px;
}

.div-button-auth {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*

@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@

*/

@media only screen and (max-width: 980px) {
form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: auto;
	padding-top: 4%;
	padding-bottom: 1%; 
	background-color: #f0f5f0;
	border-radius: 15px;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	.div-flex-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 4%; 
	}
}

@media all and (min-width: 1560px)
{
	form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: auto;
	padding-top: 2%; 
	background-color: #f0f5f0;
	border-radius: 15px;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	.div-flex-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 1%; 
	}
}
}