main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 85vh;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #f0f5f0;
	border-radius: 15px;
	width: 80%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

form input {
	font-size: 18px;
  	font-family: 'Varela Round', sans-serif;
	padding: 5px;
	margin: 10px 0;
	outline-color: #f55e18;
}

.div-button-auth {
	display: flex;
	justify-content: center;
	align-items: center;
}