#footer-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 1%;
	border-top: 6px solid silver;
}

.footer-nav {
	margin-left: 2.5%;
}

.footer-title-text {
	padding-top: 1%;
	font-family: 'Varela Round', sans-serif;
	font-size: 25px;
}

.ul-footer-text,
.footer-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
}

.footer-nav-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 19px;
	transition: 0.4s;
}

.footer-nav-text:hover {
	color: #FE5340;
}

.feedback-container {
	margin-top: 3%;
}

#logo-div-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

#logo-size-footer {
	height: 150px;
	width: 150px;
}

