#footer-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 1%;
	border-top: 6px solid silver;
}

.footer-nav {
	margin-left: 2.5%;
}

.feedback-container {
	margin-top: 3%;
}