#footer-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
    left: 0;
	border-top: 6px solid silver;
}

.footer-nav {
	margin-left: 2.5%;
}

.footer-title-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 23px;
}

.ul-footer-text,
.footer-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}

.footer-nav-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 17px;
	transition: 0.4s;
}

.footer-nav-text:hover {
	color: #FE5340;
}

.feedback-container {
	margin-top: 3%;
}

#logo-div-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

#logo-size-footer {
	height: 150px;
	width: 150px;
}

/*

@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@

*/

@media only screen and (max-width: 980px)
{
	#hide-logo-footer {
		display: none;
	}
}