.header-div-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#logo-div-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

#logo-size-header {
	height: 140px;
	width: 140px;
}

#div-music-player-name {
	line-height: 150px;
	font-family: 'Lobster', cursive;
	color: #faf7f8;
	font-size: 100px;
}

#block-auth-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
    padding-right: auto;
}


/*-------------------------*/
.header-ref-button {
	color: #000 !important;
	text-decoration: none
}


.div-header-buttons {
  margin: 30px 30px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 4px solid;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  background: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #FAF7F8;
  border-color: #FF5E4E;
  background: -webkit-linear-gradient(left, #FF5E4E, #FF5E4E) no-repeat;
  background: linear-gradient(to right, #FF5E4E, #FF5E4E) no-repeat;
  background-size: 0% 100%;
}

.div-header-buttons:hover {
	background-size: 100% 100%;
	color: #27323A;
}

/*.btn-light-red {
  color: #FAF7F8;
  border-color: #FF5E4E;
  background: -webkit-linear-gradient(left, #FF5E4E, #FF5E4E) no-repeat;
  background: linear-gradient(to right, #FF5E4E, #FF5E4E) no-repeat;
  background-size: 0% 100%;
}
.btn-light-red:hover {
  background-size: 100% 100%;
  color: #27323A;
}*/