.header-div-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#logo-div-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

#logo-size-header {
	height: 140px;
	width: 140px;
}

#div-music-player-name {
	line-height: 150px;
	font-family: 'Lobster', cursive;
	color: #faf7f8;
	font-size: 100px;
}

#block-auth-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
    padding-right: auto;
}