#div-music-player-name {
	line-height: 150px;
	font-family: 'Lobster', cursive;
	color: #faf7f8;
	font-size: 100px;
}

.auth-text {
 	font-family: 'Lobster', cursive;
	font-size: 40px;
	color: #f55e18;
	margin-bottom: 2%; 
}

.div-help-auth-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 17px;
}

.navigation-ref {
	font-family: 'Varela Round', sans-serif;
	font-size: 25px;
	color: #f0f5f0;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
	transition: 0.4s;
}

.navigation-ref:hover {
	color: #ffa8cc;
}

.div-created-plalist {
	height: 100%;
	width: 100%:;
}

.rev-created-plalist {
	display: block;
}

.created-playlist-text {
	line-height: 230px;
	width: 230px;
	font-family: 'Varela Round', sans-serif;
	font-size: 25px;
	text-align: center;
	color: black;
}

.div-music-artists-list {
	padding-top: 1%;
	padding-left: 4%;
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
}

.music-artists-ref {
	padding-top: 1%;
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	transition: 0.4s;
}

.music-artists-ref:hover {
	color: #FE5340;
}

.sections-text {
	font-family: 'Lobster', cursive;
	color: #f55e18;
	width: 100%;
	font-size: 33px;
}

.description-text {
	padding-top: 0.5%;
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	width: 100%;
}

.footer-title-text {
	padding-top: 1%;
	font-family: 'Varela Round', sans-serif;
	font-size: 25px;
}

.footer-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
}

.footer-nav-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 19px;
	transition: 0.4s;
}

.footer-nav-text:hover {
	color: #FE5340;
}